#aboutPage {
  top: 2%;
  left: 22%;
  position: fixed;
  font-size: 1.5em;
}

#contactTitle, #biographyTitle{
  margin-bottom: 2px;
}

#email, #biographyText{
  margin-top: 0;
}

#contact{
  margin-bottom: 20px;
}


