#aboutPage {
  height:max-content;
  padding: 3em;
  display: flex;
  flex-direction: column;
}

#bioContainer{
  display: flex;
  flex-direction: row;
}

#imageBio{
  width: 80%;
  height: 80%;
  margin-right: -10%;
}

#biographyText{
  text-align: justify;
  font-size: 1.5em;
  margin-right: 4%;
  margin-top: -1.9%;
  width: 70%;
}



#email{
  margin-top: 0;
}
