#cfContainer {
  top: 20%;
  left: 45%;
  width: 600px;
  height: 400px;
  position: fixed;
  background-color: rgb(15, 60, 183);
}
#cfPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cfText{
  top: 63%;
  left: 45%;
  width: 600px;
  height: 400px;
  position: fixed;
  text-align: justify;
  text-justify: inter-word;
  font-size: 1.2em;
  margin-top: 15px;

}

#ccPic{
  width: 200;
  height: 400px;
  top: 40%;
}