#spContainer {
  top: 20%;
  left: 45%;
  width: 600px;
  height: 400px;
  position: fixed;
  background-color: red;
}
#spPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#spText{
  top: 62%;
  left: 45%;
  width: 600px;
  height: 400px;
  position: fixed;
  text-align: justify;
  text-justify: inter-word;
}