#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 1.2em;
}

#navContainer a:hover {
  font-style: italic;
}

#navContainer a.active {
  font-style: italic;
}

#homeTitle {
  text-decoration:none;
  font-size: .8em;
}

#aboutTitle, #portfolioTitle {
  font-size: .8em;
  margin-right: 6%;
}

#resumeTitle {
  font-size: .8em;
}

a:-webkit-any-link {
  text-decoration: none;
  color:rgb(0, 0, 0);
}
