#navbar {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  width: 20vw;
  height: 100vh;
  border-right: black solid;
  border-width: thin;
}

#navContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Raleway', sans-serif;
}

#projects {
  margin-left: 5%;
  flex-wrap: wrap;
  text-decoration: none;
}

#navContainer a:hover {
  font-style: italic;
}

#navContainer a.active {
  font-style: italic;
}

#homeTitle {
  font-size: 2em;
  color:blue;
  text-decoration:none;
  margin-bottom: 10px;
}

#aboutTitle {
  font-size: 2em;
  color:blue;
  text-decoration:none;
}

#navBarProjectTitle {
  font-size: 2em;
  color:blue;
  margin-bottom: 10px;
  
}

a:-webkit-any-link {
  text-decoration: none;
  color: blue;

  /* color:rgb(181, 181, 208); */
}

#communalcare {
  font-size: 1.5em;
  color:blue;
  text-decoration:none;
  margin-bottom: 15px;
  text-decoration: none;
}

#monkeypoxTitle {
  font-size: 1.5em;
  color:blue;
  text-decoration:none;
  margin-bottom: 15px;
  text-decoration: none;
}

#starredTitle {
  font-size: 1.5em;
  color:blue;
  text-decoration:none;
  margin-bottom: 15px;
  text-decoration: none;
}

#connectfourTitle {
  font-size: 1.5em;
  color:blue;
  text-decoration:none;
  margin-bottom: 15px;
  text-decoration: none;
}